################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureChaos/bin/
/AzureChaos.Tests/bin/
/AzureChaos/obj/
/AzureChaos.Tests/obj/
/AzureChaos.Core/obj/
/AzureChaos.Core/bin/
/AzureChaos.Tests/AzureChaos.Tests.csproj.user
/AzureChaos/AzureChaos.csproj.user
/AzureChaos.Core/AzureChaos.Core.csproj.user
/VirtualMachineChaosExecuter/obj/Debug/net461
/AzureFaultInjection/bin/
/AzureFaultInjection/obj/
/AzureFaultInjection/obj/Release/
/AzureFaultInjection/AzureFaultInjection.csproj.user
/AzureFaultInjection/obj/Debug/
/packages
/AzureChaos.sln.DotSettings.user
/ChaosExecuter/Properties/PublishProfiles/AzureChaos - Web Deploy.pubxml
