################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureChaos/bin/
/AzureChaos.Tests/bin/
/AzureChaos/obj/
/AzureChaos.Tests/obj/
/AzureChaos.Core/obj/
/AzureChaos.Core/bin/
