################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureChaos/obj/Debug
/AzureChaos.Tests/obj/Debug
/AzureChaos/bin
/AzureChaos.Tests/bin
/AzureChaos.Core/obj
/AzureChaos.Core/bin/Debug/netstandard2.0
/AzureChaos.Tests/AzureChaos.Tests.csproj.user
